<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <canvas id="mazeCanvas" width="200" height="100" style="border:1px solid #000000;">
    </canvas>

    <input type="file" id="upload" accept="image/png" name="maze">
    <p id="starting">Starting point: ()</p>
    <p id="ending">Ending point: ()</p>
    <button id="submit" onclick="submitForm()" href="/solved">
        Submit
    </button>

    <script>
        let imageLoader = document.getElementById('upload');
            imageLoader.addEventListener('change', addToCanvas, false);
        let canvas = document.getElementById('mazeCanvas');
        let ctx = canvas.getContext("2d");
        let points = [];
        let submitButton = document.getElementById("submit");
        canvas.addEventListener("mousedown", function (e) {
            if (points.length < 4) {
                points.push(e.x - canvas.offsetLeft);
                points.push(e.y - canvas.offsetLeft);
                ctx.beginPath();
                ctx.arc(e.x - canvas.offsetLeft, e.y - canvas.offsetTop, 2, 0, 2 * Math.PI)
                ctx.stroke();
            }
            let start = document.getElementById("starting");
            let end = document.getElementById("ending");
            start.innerText = "Starting point: (" +  points[0] + ", " + points[1] + ")";
            end.innerText = "Ending points: (" +  points[2] + ", " + points[3] + ")";
        })
        function addToCanvas(e){

            let reader = new FileReader();
            reader.onload = function(event){
                let img = new Image();
                img.onload = function(){
                    canvas.width = img.width;
                    canvas.height = img.height;
                    ctx.drawImage(img,0,0);
                }
                img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        }
        async function submitForm() {
            const formData = new FormData();

            formData.append("maze", imageLoader.files[0]);
            formData.append("startX", points[0]);
            formData.append("startY", points[1]);
            formData.append("endX", points[2]);
            formData.append("endY", points[3]);
            const response = await fetch('/solve', {
                method: 'POST',
                body: formData
            })
            window.location.replace("solved");
            return response
        }
    </script>

</body>
</html>